# Traefik_v1 example config
# -------------------------
# Use this example for the proxy document server running at 'backendserver-address'
# into the virtual directory 'documentserver-virtual-path'.
# Replace {{TRAEFIK_HOST}} with a name or an ip of the traefik server
#
# Tested with DocumentServer (separate server) + Traefik_v1 (separate server) + onlyoffice/docs-example (separate server)

defaultEntryPoints = ["http"]
[entryPoints]
  [entryPoints.http]
    address = ":80"

[file]

[backends]
  [backends.docservice]
    [backends.docservice.servers.backendserver-address]
    url = "http://backendserver-address/"

[frontends]
  [frontends.docservice]
  backend = "docservice"
  passHostHeader = true

    [frontends.docservice.headers.customrequestheaders]
    X-Forwarded-Host = "{{TRAEFIK_HOST}}"
  
    [frontends.docservice.routes.vpath]
    rule = "Host:{{TRAEFIK_HOST}};PathPrefixStrip:/documentserver-virtual-path/"
