<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="DocumentServerRewrite" enabled="true">
          <match url="^documentserver-virtual-path(.*)" />
            <conditions trackAllCaptures="true">
              <add input="{HTTPS}s" pattern="on(s)|offs" />
            </conditions>
            <serverVariables>
              <set name="HTTP_X_FORWARDED_PROTO" value="http{C:1}" />
              <set name="HTTP_X_FORWARDED_HOST" value="{HTTP_HOST}/documentserver-virtual-path" />
            </serverVariables>
            <action type="Rewrite" url="http://docservice{R:1}" />
         </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>